﻿@{
    ViewBag.Title = "Edit";
}

<div id="container">
    @Html.Partial("_AddOrFixAjax")
</div>

@section Scripts
{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
    <script src="@Url.Content("~/Scripts/AjaxRequests.js")"></script>
}