﻿@model IEnumerable<TestForNVCoding.Models.UserProfiles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddOrFix")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signature)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if(((item.Avatar) != null )&&((item.Avatar) != "") )
                {
                try { 
                    
                <img src='@Url.Content("~/Content/Images/UserAvatars/" + @item.Avatar)' alt="image" style="width:100px;height:100px;">
                    }
                catch { }
                    
                }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Signature)
        </td>
        <td>
            @Html.ActionLink("Edit", "AddOrFix", new { id = item.Id })
        </td>
    </tr>
}

</table>
